Repository stevenjjobson/CoachNTT.ai: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

safety-validation:
  name: Validate Safety Abstractions
  entry: ./scripts/safety/pre-commit-safety-check.sh
  language: script
  pass_filenames: false

concrete-reference-check:
  name: Check for concrete references
  entry: python scripts/safety/check_concrete_references.py
  language: system
  pass_filenames: true

abstraction-validation:
  name: Validate abstraction patterns
  entry: python scripts/safety/validate_abstractions.py
  language: system
  pass_filenames: true

safety-score-check:
  name: Validate safety scores
  entry: python scripts/safety/validate_safety_scores.py
  language: system
  pass_filenames: false

Update documentation for Session 1.3 preparation
  CLAUDE.md
  NEXT_SESSION.md
Due: concrete-reference-check

Session 1.3: Safety-First Database Schema - Zero-tolerance abstraction enforcement
  CLAUDE.md
  Implementation_Cadence.md
  NEXT_SESSION.md
  docs/database/safety-validation-overview.md
  migrations/004_enhanced_abstraction_schema.sql
  migrations/005_cognitive_memory_enhancements.sql
  migrations/006_advanced_validation_functions.sql
  migrations/007_safety_scoring_system.sql
  migrations/008_quality_assurance.sql
  migrations/009_performance_indexes.sql
  migrations/010_auto_detection_system.sql
  scripts/database/test-abstraction-enforcement.sql
  src/core/memory/__init__.py
  src/core/memory/abstract_models.py
  src/core/memory/repository.py
  src/core/memory/validator.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Reorganize documentation structure and add workflow improvements
  .claude
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  .claude/SESSION_ANALYSIS.md
  .claude/SESSION_PATTERNS.md
  DOCUMENTATION_GUIDE.md
  PROJECT_STRUCTURE_GUIDE.md
  PROJECT_STRUCTURE_STATUS.md
  README.md
  SESSION_0.3_SUMMARY.md
  SESSION_LOG.md
  docs/training/CONTEXT_OPTIMIZATION_WORKFLOW.md
  project-docs/Implementation_Cadence.md
  project-docs/Program_Requirements.md
  templates/session-analysis-template.md
  vault/00-Index/Safety-Principles.md
Due: concrete-reference-check

Session 1.4: Abstract Memory Model Implementation - Advanced decay, clustering, and relationships
  src/core/memory/__init__.py
  src/core/memory/cluster_manager.py
  src/core/memory/decay_engine.py
  src/core/memory/repository.py
  tests/integration/test_memory_system.py
  tests/performance/test_memory_benchmarks.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Update session tracking: Phase 1 complete, Session 1.4 → 2.2 transition analysis
  .claude/CLAUDE.md
  .claude/SESSION_ANALYSIS.md
Due: concrete-reference-check

Fix documentation structure: Update NEXT_SESSION.md for Session 2.2
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
Due: concrete-reference-check

Session 2.2: Vector Embeddings Integration - Advanced sentence-transformer support
  src/core/embeddings/__init__.py
  src/core/embeddings/cache.py
  src/core/embeddings/models.py
  src/core/embeddings/service.py
  src/core/memory/__init__.py
  src/core/memory/cluster_manager.py
  src/core/memory/repository.py
  tests/integration/test_embeddings.py
  tests/performance/test_embedding_benchmarks.py
  tests/unit/core/embeddings/__init__.py
  tests/unit/core/embeddings/test_cache.py
  tests/unit/core/embeddings/test_models.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Update session tracking: Session 2.2 complete → Session 2.3 preparation
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
Due: concrete-reference-check

Implement Session 2.3: Intent Engine Foundation with comprehensive query analysis
  src/core/__init__.py
  src/core/intent/__init__.py
  src/core/intent/analyzer.py
  src/core/intent/connections.py
  src/core/intent/engine.py
  src/core/intent/models.py
  src/core/memory/repository.py
  tests/integration/test_intent_engine.py
  tests/performance/test_intent_benchmarks.py
  tests/unit/core/intent/test_models.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Update session management: Session 2.3 complete → Session 2.4 preparation
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
Due: concrete-reference-check

Session 2.4: AST Code Analysis with comprehensive pattern detection
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  src/core/__init__.py
  src/core/analysis/__init__.py
  src/core/analysis/ast_analyzer.py
  src/core/analysis/complexity_analyzer.py
  src/core/analysis/language_detector.py
  src/core/analysis/models.py
  src/core/analysis/pattern_detector.py
  src/core/intent/engine.py
  tests/integration/test_ast_analysis.py
  tests/performance/test_ast_benchmarks.py
  tests/unit/core/analysis/__init__.py
  tests/unit/core/analysis/test_ast_analyzer.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Session 3.1: Obsidian Vault Sync with comprehensive memory-to-markdown conversion
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  src/core/memory/repository.py
  src/services/__init__.py
  src/services/vault/__init__.py
  src/services/vault/conflict_resolver.py
  src/services/vault/markdown_converter.py
  src/services/vault/models.py
  src/services/vault/sync_engine.py
  src/services/vault/template_processor.py
  tests/integration/test_vault_sync.py
  tests/unit/services/__init__.py
  tests/unit/services/vault/__init__.py
  tests/unit/services/vault/test_sync_engine.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Session 3.2: Script Automation Framework with comprehensive development automation
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  pyproject.toml
  scripts/automation/vault-sync.py
  scripts/development/checkpoint.sh
  scripts/development/rollback.py
  scripts/framework/__init__.py
  scripts/framework/config.py
  scripts/framework/logger.py
  scripts/framework/runner.py
  scripts/monitoring/context-monitor.py
  scripts/testing/run-suite.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_framework.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Session 3.3: Documentation Generator with comprehensive automated generation
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  scripts/automation/generate-docs.py
  scripts/git-hooks/pre-commit-docs
  src/services/documentation/__init__.py
  src/services/documentation/generator.py
  src/services/documentation/models.py
  src/services/documentation/templates.py
  tests/unit/services/test_documentation.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Session 3.4: Knowledge Graph Builder with comprehensive semantic connections
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  src/services/documentation/generator.py
  src/services/documentation/models.py
  src/services/vault/__init__.py
  src/services/vault/graph_builder.py
  src/services/vault/graph_exporters.py
  src/services/vault/graph_models.py
  tests/unit/services/test_graph_builder.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Session 4.1a: REST API Foundation & Memory Operations
  src/api/__init__.py
  src/api/config.py
  src/api/dependencies.py
  src/api/main.py
  src/api/middleware/__init__.py
  src/api/middleware/authentication.py
  src/api/middleware/logging.py
  src/api/middleware/rate_limiting.py
  src/api/middleware/safety.py
  src/api/models/__init__.py
  src/api/models/common.py
  src/api/models/memory.py
  src/api/routers/__init__.py
  src/api/routers/graph.py
  src/api/routers/integration.py
  src/api/routers/memory.py
  tests/unit/api/test_foundation.py
  tests/unit/api/test_memory_endpoints.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Update project state: Session 4.1a complete, prepare Session 4.1b
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
Due: concrete-reference-check

Session 4.1b: Knowledge Graph & Integration APIs with comprehensive WebSocket support
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  README.md
  src/api/dependencies.py
  src/api/main.py
  src/api/models/graph.py
  src/api/models/integration.py
  src/api/routers/graph.py
  src/api/routers/integration.py
  src/api/routers/websocket.py
  tests/unit/api/test_graph_endpoints.py
  tests/unit/api/test_integration_endpoints.py
  tests/unit/api/test_websocket.py
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Session 4.2a: CLI Foundation with Immediate Usability
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  cli/__init__.py
  cli/commands/__init__.py
  cli/commands/memory.py
  cli/commands/status.py
  cli/core.py
  cli/utils.py
  coachntt.py
  docs/user-guide/cli-commands.md
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Fix requirements.txt: Remove non-existent python-secrets-scanner package
  requirements.txt
Due: none

Session 4.2b: CLI Memory Management Operations with comprehensive functionality
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  cli/commands/memory.py
  cli/commands/status.py
  cli/core.py
  docs/user-guide/cli-commands.md
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Session 4.2c: CLI Knowledge Graph Operations with comprehensive functionality
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  cli/commands/__init__.py
  cli/commands/graph.py
  cli/core.py
  coachntt.py
  docs/user-guide/cli-commands.md
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Session 4.2d: CLI Integration & Interactive Mode with comprehensive functionality
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  cli/commands/__init__.py
  cli/commands/config.py
  cli/commands/integration.py
  cli/commands/interactive.py
  cli/core.py
  coachntt.py
  docs/user-guide/cli-commands.md
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Update README.md with novel security innovation section
  README.md
Due: concrete-reference-check

Session 4.3: Testing Suite Completion with comprehensive test automation
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  .github/workflows/test.yml
  .pre-commit-config.yaml
  conftest.py
  docs/testing/TEST_STRATEGY.md
  pytest.ini
  tests/e2e/__init__.py
  tests/e2e/test_user_scenarios.py
  tests/fixtures/__init__.py
  tests/fixtures/graphs.py
  tests/fixtures/memories.py
  tests/fixtures/safety.py
  tests/integration/test_api_endpoints.py
  tests/integration/test_cli_commands.py
  tests/integration/test_memory_lifecycle.py
  tests/integration/test_websocket.py
  tests/performance/test_load.py
  tests/safety/__init__.py
  tests/safety/test_abstraction_enforcement.py
  vault/.obsidian/plugins/custom-note-width/data.json
  vault/.obsidian/plugins/custom-note-width/main.js
  vault/.obsidian/plugins/custom-note-width/manifest.json
  vault/.obsidian/plugins/custom-note-width/noteWidthDatabase.json
  vault/.obsidian/plugins/custom-note-width/styles.css
  vault/.obsidian/themes/Encore/manifest.json
  vault/.obsidian/themes/Encore/theme.css
  vault/00-Index/Documentation-Master-Index.md
  vault/02-Setup/Configuration-Guide.md
  vault/02-Setup/Setup-Guide.md
  vault/02-Setup/Troubleshooting-Reference.md
  vault/03-Knowledge/Architecture-Guide.md
  vault/03-Knowledge/Effective-Usage-Guide.md
  vault/03-Knowledge/Project-Knowledge-Graph.md
  vault/03-Knowledge/Usage-Guide.md
Due: safety-validation, concrete-reference-check, abstraction-validation, safety-score-check

Phase 1 Complete - Phase 2 VSCode Extension Planning Ready
  .claude/CLAUDE.md
  .claude/DEPLOYMENT_STRATEGY.md
  .claude/NEXT_SESSION.md
  .claude/PHASE2_CONTEXT.md
  .claude/SESSION_ANALYSIS.md
  project-docs/Phase2_Implementation_Cadence.md
  project-docs/VSCode_Extension_PRD.md
Due: concrete-reference-check

Session 2.1.1: VSCode Extension Scaffold with TypeScript foundation
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  vscode-extension/.eslintrc.json
  vscode-extension/.vscodeignore
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/resources/icons/coachntt-128.png
  vscode-extension/resources/icons/coachntt-activity.svg
  vscode-extension/src/commands/index.ts
  vscode-extension/src/config/settings.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/providers/welcomeView.ts
  vscode-extension/src/utils/logger.ts
  vscode-extension/test/runTest.ts
  vscode-extension/test/suite/extension.test.ts
  vscode-extension/test/suite/index.ts
  vscode-extension/tsconfig.json
  vscode-extension/webpack.config.js
Due: concrete-reference-check

Session 2.1.2: MCP Client Integration with WebSocket support
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  vscode-extension/package.json
  vscode-extension/src/commands/index.ts
  vscode-extension/src/events/mcp-events.ts
  vscode-extension/src/services/connection-manager.ts
  vscode-extension/src/services/mcp-client.ts
  vscode-extension/src/test/suite/connection-manager.test.ts
  vscode-extension/src/test/suite/mcp-client.test.ts
  vscode-extension/src/types/mcp.types.ts
Due: concrete-reference-check

Session 2.1.3: Memory Tree Provider with hierarchical view and operations
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  project-docs/Phase1_Implementation_Cadence.md
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/commands/index.ts
  vscode-extension/src/commands/memory-commands.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/models/memory.model.ts
  vscode-extension/src/providers/memory-content-provider.ts
  vscode-extension/src/providers/memory-tree-provider.ts
  vscode-extension/src/test/suite/memory-tree-provider.test.ts
Due: concrete-reference-check

Session 2.1.4: WebView Foundation with secure UI panels and messaging
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  vscode-extension/README.md
  vscode-extension/docs/WEBVIEW_ARCHITECTURE.md
  vscode-extension/media/memory-detail.js
  vscode-extension/media/webview.css
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/test/suite/webview-manager.test.ts
  vscode-extension/src/webview/message-protocol.ts
  vscode-extension/src/webview/panels/memory-detail-panel.ts
  vscode-extension/src/webview/templates/base-template.ts
  vscode-extension/src/webview/webview-manager.ts
Due: concrete-reference-check

Session 2.2.1: Audio Playback Service with comprehensive audio infrastructure
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  vscode-extension/media/audio-player.css
  vscode-extension/media/audio-player.js
  vscode-extension/package.json
  vscode-extension/src/events/mcp-events.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/models/audio-queue.ts
  vscode-extension/src/services/audio-playback-service.ts
  vscode-extension/src/services/mcp-client.ts
  vscode-extension/src/types/mcp.types.ts
  vscode-extension/src/utils/audio-cache.ts
  vscode-extension/src/webview/audio-player/audio-player-panel.ts
Due: concrete-reference-check

Session 2.2.2: Voice Activity Detection & Audio Capture implementation
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  vscode-extension/media/voice-input.css
  vscode-extension/media/voice-input.js
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/services/audio-capture-service.ts
  vscode-extension/src/services/voice-activity-detector.ts
  vscode-extension/src/webview/voice-input/voice-input-panel.ts
Due: concrete-reference-check

Session 2.2.3: Real-time Monitoring Dashboard with Dynamic Memory Scaling
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  vscode-extension/media/monitoring-dashboard.css
  vscode-extension/media/monitoring-dashboard.js
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/services/monitoring-service.ts
  vscode-extension/src/types/monitoring.types.ts
  vscode-extension/src/webview/monitoring/monitoring-dashboard.ts
Due: concrete-reference-check

Session 2.2.4: Advanced Code Analysis Features with AST parsing
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  vscode-extension/media/code-insights.css
  vscode-extension/media/code-insights.js
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/providers/code-lens-provider.ts
  vscode-extension/src/services/code-analysis-service.ts
  vscode-extension/src/types/code-analysis.types.ts
  vscode-extension/src/webview/code-insights/code-insights-panel.ts
Due: concrete-reference-check

Living Documents (.CoachNTT) Integration
  .claude/CLAUDE.md
  .claude/NEXT_SESSION.md
  vscode-extension/README.CoachNTT
  vscode-extension/language-configuration.json
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/models/memory.model.ts
  vscode-extension/src/providers/document-tree-provider.ts
  vscode-extension/src/services/context-window-manager.ts
  vscode-extension/src/services/document-abstractor.ts
  vscode-extension/src/services/living-document-service.ts
  vscode-extension/src/types/living-document.types.ts
Due: concrete-reference-check

Session 2.2.5: Living Documents Integration - Critical Enhancements
  .claude/NEXT_SESSION.md
  .claude/Session_2.2.5_Living_Documents_Integration.md
  .claude/commit_message_2.2.5.md
  project-docs/Phase2_Implementation_Cadence.md
  vscode-extension/media/document-preview.css
  vscode-extension/src/services/error-handler.ts
  vscode-extension/src/services/evolution-tracker.ts
  vscode-extension/src/services/session-manager.ts
  vscode-extension/src/types/living-document.types.ts
  vscode-extension/src/webview/document-preview.ts
Due: concrete-reference-check

docs: Update README with Phase 2 progress and Living Documents
  README.md
Due: concrete-reference-check

Session Boundary: Living Documents Complete & TRA Fix Applied
  .claude/CLAUDE.md
  .claude/CURRENT_SESSION.CoachNTT
  .claude/NEXT_SESSION.md
  .claude/NEXT_STEPS.CoachNTT
  .claude/PROJECT_CONTEXT.CoachNTT
  .claude/SESSION_ANALYSIS.md
  .claude/SESSION_PATTERNS.md
  project-docs/DEPLOYMENT_STRATEGY.md
  project-docs/PHASE2_CONTEXT.md
  project-docs/Session_2.2.5_Living_Documents_Integration.md
  project-docs/commit_message_2.2.5.md
  vscode-extension/src/services/document-abstractor.ts
  vscode-extension/src/services/living-document-service.ts
  vscode-extension/src/types/living-document.types.ts
Due: concrete-reference-check

Session 2.3.1: Voice Command Framework Implementation
  .claude/CLAUDE.md
  .claude/CURRENT_SESSION.CoachNTT
  .claude/NEXT_STEPS.CoachNTT
  DOCUMENTATION_GUIDE.md
  PROJECT_STRUCTURE_GUIDE.md
  PROJECT_STRUCTURE_STATUS.md
  docs/sessions/SESSION_2.3.1_SUMMARY.md
  vscode-extension/src/services/voice-command/VOICE_COMMAND_DESIGN.md
  vscode-extension/src/services/voice-command/__tests__/command-parser.test.ts
  vscode-extension/src/services/voice-command/__tests__/voice-command-service.test.ts
  vscode-extension/src/services/voice-command/command-parser.ts
  vscode-extension/src/services/voice-command/command-router.ts
  vscode-extension/src/services/voice-command/index.ts
  vscode-extension/src/services/voice-command/voice-command-registry.ts
  vscode-extension/src/services/voice-command/voice-command-service.ts
  vscode-extension/src/services/voice-command/voice-feedback-service.ts
Due: concrete-reference-check

Session 2.3.2: Natural Language Query (NLQ) System
  .claude/CLAUDE.md
  .claude/CURRENT_SESSION.CoachNTT
  .claude/NEXT_STEPS.CoachNTT
  docs/sessions/SESSION_2.3.2_SUMMARY.md
  vscode-extension/src/services/nlq/__tests__/code-search-engine.test.ts
  vscode-extension/src/services/nlq/__tests__/nlq-parser.test.ts
  vscode-extension/src/services/nlq/code-search-engine.ts
  vscode-extension/src/services/nlq/index.ts
  vscode-extension/src/services/nlq/nlq-parser.ts
  vscode-extension/src/services/nlq/nlq-voice-commands.ts
  vscode-extension/src/services/nlq/query-result-manager.ts
  vscode-extension/src/services/nlq/semantic-analyzer.ts
  vscode-extension/src/services/voice-command/command-parser.ts
Due: concrete-reference-check

Path conditions:
  safety-validation: any of: \.(py|sql)$
  concrete-reference-check: any of: \.(py|md|yaml|yml|json|toml)$
  abstraction-validation: any of: \.py$
  safety-score-check: any of: \.py$
